#navbarSupportedContent {
  justify-content: end;
}

#mainNav {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  margin-right: 8px;
  list-style: none;
}

.navItem {
  line-height: 40px;
  font-size: 1.1em;
  margin-right: 7px;
}

.navItem:hover {
  background-color: #ffffff;
}

.navItem > a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  height: 40px;
  font-weight: 500;
}

.navItem > a:hover {
  color: #078d86;
}

.navItem > .activeLink {
  background-color: #ffffff;
  color: #078d86;
}

#profileMenu {
  margin-left: -75px;
}

.dropwonItem {
  color: #078d86;
}

.dropwonItem:hover {
  color: #ffffff;
  background-color: #078d86;
}

#navigation {
  height: 65px;
  background-color: #078d86;
}

#signIn {
  background-color: #078d86;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 18px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#signIn:hover {
  background-color: #ffffff;
  color: #078d86;
  font-size: 20px;
}
