<div class="d-flex flex-row" id="main">
    <app-filter 
    (filters)="setFilters($event)"></app-filter>
    <div style="width: 82%;">
        <div id="searchBar">
            <input type="text" [(ngModel)]="filter" value="{{filter}}" (change)="filterByExhibitionName()" placeholder="Search">
        </div>
        <div class="card d-flex flex-row bg-dark mt-2 mb-2 ml-3" *ngFor="let exhibition of filterExhibitions()"
            style="color: azure; height: 220px; width: 95%;">
            <img class="card-img-top w-25" src="{{exhibition.cover}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{exhibition.title}}</h5>
                <p class="card-text">{{exhibition.description}}</p>
                <input type="datetime-local" value="{{exhibition.date}}"><br>
                <a routerLink='/Exhibition/{{exhibition.id}}' class="btn btn-primary">Join</a>
            </div>
        </div>
    </div>
</div>
