#editContainer {
  display: flex;
  flex-direction: row;
  height: calc(100% - 56px);
}

#exhbitionDetails {
  width: 25%;
  height: 100%;
  background-color: rgba(197, 199, 200, 0.322);
  padding: 5px;
}
#imageDisplay {
  width: 75%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#exhbitionForm {
  padding: 8px;
  height: 90%;
}

#exhibitionCover {
  height: 40%;
  margin-bottom: 10px;
}
#cover {
  height: 100%;
  width: 100%;
}
.toggleModal {
  width: 250px;
  height: 250px;
  background-color: rgba(197, 199, 200, 0.322);
  border-radius: 10px;
  margin: 5px;
}

img {
  height: 100%;
  width: 100%;
}

#priceDimensions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemPrice {
  width: 45%;
}

#modalImage {
  width: 100%;
  height: 80%;
}

textarea {
  height: 100px;
}

h3 {
  text-align: center;
  padding-top: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    width: 800px;
  }
}
