<div id="editContainer">
    <div id="exhbitionDetails">
        <h3>Organize exhibition</h3>
        <hr>
        <div id="exhbitionForm">
            <div id="exhibitionCover">
                <div id="cover">
                    <img [src]="exhibition?.cover">
                </div>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter title"
                    [(ngModel)]="exhibition.title" value="{{exhibition?.title}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="exhibition.description"
                   value="{{exhibition?.description}}"></textarea>
            </div>
            <div class="form-group">
                <label for="startingDate">Starting date:</label>
                <input type="datetime-local" class="form-control" id="startingDate" [(ngModel)]="exhibition.date" [value]="exhibition.date">
            </div>

            <button type="submit" class="btn btn-primary" (click)="editDetails()">Save changes</button>
        </div>
    </div>
    <div id="imageDisplay">
        <div class="toggleModal" (click)="newItem()">
            <img src="../../../../assets/plus-icon.png" data-toggle="modal" data-target="#exampleModal" />
        </div>
        <div *ngFor="let item of exhibition.items" class="toggleModal" (click)="setItem(item)">
            <img src="{{item.image}}" data-toggle="modal" data-target="#exampleModal" />
        </div>
       <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="exhbitionForm">
                            <div id="modalImage">
                                <img [src]="imageURL">
                            </div>

                            <input class="form-control" type="file" id="file" aria-describedby="file"
                                (change)="fileInput($event)" required>
                                <hr>
                            <label>Name</label>
                            <input class="form-control" type="text" [(ngModel)]="itemVM.name" value="{{itemVM.name}}" required>
                            <label>Description</label>
                            <input class="form-control" type="text" [(ngModel)]="itemVM.description" value="{{itemVM.description}}" required>
                            <label>Artist</label>
                            <input class="form-control" type="text" [(ngModel)]="itemVM.creator" required>
                            <div id="priceDimensions">
                                <div class="itemPrice">
                                    <label>Price</label>
                                    <input class="form-control" type="number" [(ngModel)]="itemVM.price" required>
                                </div>
                                <div class="itemPrice">
                                    <label>Dimensions</label>
                                    <input class="form-control" type="text" [(ngModel)]="itemVM.dimensions" required>
                                </div>
                            </div>
                            <a (click)="setCover()">set as cover...</a>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" (click)="saveImage()">Save changes</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearModal()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>